body{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 60px;
    background: rebeccapurple;
    flex-direction: row-reverse;
    display: flex;
}

.logo p{
    text-align: center;
    color: darkgrey;

}

.parent {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
.logo{
    flex-grow: 0.5;
}
.navigation{
    flex-grow: 1;
}
ul.parent{
     /* list-style: none; */
}
.parent  li {
    background-color: rgb(238, 130, 175);
    text-decoration: none;
    color: rgb(19, 37, 139);
    padding: 0px;
}
