#content {
    display: flex;
    justify-content: space-around;
    flex-flow: nowrap;
    align-items: stretch;
  }
  
  .box {
    flex-grow: 3;
    border: 3px solid rgba(0,0,0,.2);
    background-color: red;
  }
  
  .box1 {
     flex-grow: 2; 
    border: 3px solid rgba(0,0,0,.2);
    background-color: green;
  }
    .box2{
        flex-basis: 0;
        border: 2px solid  rgba(0,0,0,.2);
        background-color: yellow;
        flex-grow: 3;
    }
