.parent{
    width: 92%;
    height: 384px;
    background-color: #7c505f;
    display: grid;
    grid-template-columns: 100px  auto 100px;
    column-gap: 15px;
    row-gap: 10px;
}
.boys{
    height: 74px;
    background-color: yellow;
    float: left;
    position: relative;
    ve; */
    text-align: center;
}
.boys.first{
  grid-column: 1/3;
}





