
.fother {
    background-color: yellow;
    width: 644px;
    height: 406px;
}
.mother {
    background-image: url(./Alcohol_01.jpg);
    background-size: 104px;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */ /* fixed; התמונה הולכת איתך לכל מקום  */
    width: 100%;
    height: 1000px;
    /* position: fixed;  לכוון אותו מלמעלה למטה או מהצדדים */
    /* top: -6px; * לכוון אותו מלמעלה למטה או מהצדדים/
    /* right: 143px; " "*/
    /* left: 14px; " " */
    position: sticky; /* גורם לתמונה לא לזוז ממקומה ולהגיע לכל מקום*/
    top: 0;
}
.px{
    font-size: 2em;
    float: left 5px;
}
.em {
    background-color: rgba(0, 128, 0, 0);
    font-size: 2em;
}
.rem{
    font-size: 3rem;
    
}
 /*.vw-vh{ 
    width: 20vw;
    height: 20vw;
    padding: 36px;
    margin: 27px;
    background-color: rgb(0, 255, 234);
    border-radius: 22px 15px 62px 112px;
}
*/
.dad {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}
.cris{
    background-color: green;
    padding: 4px;
    margin: 6px;
}
 @media (max-width : 600px ) {
        .cris {
            width: 87%;
   }
}
@media (min-width: 601px) and ( max-width: 1200px) {
    .cris {
     min-width: 289px;
    }
}
@media (min-width: 1201px) {
    .cris{
    min-width: 290px;
   }
}
