.parent{
    width: 100%;
    background-color: green;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas :    "barca    barca     barca"
                            "valnsia   valnsia  madrid "
                            "betis    betis     madrid"
                            "palmas    palmas   palmas";
}  
.boys{
    border: red solid 1px;
    background-color: yellow;
    color: darkblue;
    float: left;
    position: relative;
    text-align: center;
}

.barca{
  grid-area: barca;
}
.valnsia{
    grid-area: valnsia;
}
.betis{
    grid-area: betis;
}
.palmas{
    grid-area: palmas;
}
.madrid{
    grid-area: madrid;
}


















