p { 
    color:brown ;
}

.article-main {
    color: chartreuse;

}

#first-article {
    width: 1000px;
    color: rgb(0, 2, 139);
  

}

    
body {
    
    width: 1024px;
    margin-left: auto;
    margin-right: auto;

}

.post {
    width: 300px;
    display:inline-block;
    padding: 5px;
    border:slategray solid 1px;
    margin:5px;
}
 .post img {
     width: 50%;
 }
