
.main{  
    width: 1000px;
    margin: 0 auto;
}
.right{
    width: 800px;
    background-color: rgba(51, 153, 148, 0.993);
    padding: 10px;
    margin: auto;
    display:inline-block;
    float: right;
    position: relative;
}
.left {
    width: 200px;
     background-color: rgb(80, 153, 51);
    display:inline-block;
    float: right;
    position: relative;
}
div.logo{
     width: 100px;
     display:inline-block;
     float: right;
     position: relative;
}
nav {
    width: 700px;
    display:inline-block;
    float: right;
    position: relative;
}
ul.menu{

}
ul.menu li {
    float: right;
    position: relative;
    margin: 25px;
    padding: 10px;
    border-top: 0px  deepskyblue solid;
    border-bottom: 0px deepskyblue solid;
}
ul.menu li  a{
    color: red;
   font-size: 20px;
   font-weight: bold;
   font-family: 'Quicksand' sans-serif;
}
ul.menu li  a:link{
    text-decoration: none;
    color:  rgb(255, 208, 0);
}
ul.menu li a:visited{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.904)
}
ul.menu li a:hover{
 text-decoration:none;
 color: rgb(52, 225, 0);
}
ul.menu li a:active{
    text-decoration: none;
    color: rgb(225, 0, 187);
}
.slider{

}
.slider .image{

}
.slider .text{

}
      
.slider  .text p{
    direction: rtl;
    text-align: center;
    padding: 25px;
    line-height: 30px;
    text-indent: 115px;
    letter-spacing: 0px;
}
.slider .text h1 { 
    float: center;
    direction: rtl;
    padding: 20px;
    letter-spacing: 5px;
}










.button-red{
    color: #000;
}

p {  
    color:brown ;
}

.article-main {
    color: chartreuse;

 }

#first-article {
    width: 1024px;
    color: rgb(87, 83, 83);
 }
 
.body {
    width: 1024;
 }
     
.post {

    width: 200px;
    display:inline-block;
    padding: 5px;
    border:slategray solid 1px;
    margin:5px;
}

 .post img {
      width:50% ;
}

.header {
    width: auto;
    padding: 5px;
    border:5px solid coral;
    margin:5px ;
}